* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*-- SCROLLBAR --*/

::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f2ab41;
  border-radius: 10px;
}

body {
  height: 100%;
  background-color: #121212;
}

header {
  width: 100%;
  position: absolute;
  z-index: 10;
  color: #fff;
}

header .elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

/*-- LOGO --*/

header .elements .logo {
  font-size: 2em;
  font-weight: bold;
}

header .elements .logo span {
  color: #f2ab41;
}

/*-- NAVIGATION --*/

.navigation {
  position: relative;
  display: flex;
}

.navigation a {
  position: relative;
  margin: 0 20px;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
}

nav:hover #mover {
  opacity: 1;
}

nav #mover {
  position: absolute;
  height: 4px;
  border-radius: 100px;
  left: 0;
  width: 0;
  bottom: -8px;
  background: #f2ab41;
  transition: 0.5s;
  border-radius: 4px;
  z-index: 2;
  opacity: 0;
}

/*-- MAIN --*/
.blue-home {
  height: 70vh;
  background: #192065;
}

.blue-contact {
  position: absolute;
  background: #192065;
  height: 100%;
  width: 50%;
  right: 0;
  z-index: 1;
}

/*-- BANNER --*/

.banner {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 90%;
  height: 80vh;
  background-color: #2a338e;
  border-radius: 20px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px #1212126e;
  transform-style: preserve-3d;
}

.banner #line {
  position: absolute;
  width: 30%;
  height: 150%;
  background-color: #f2ab41;
  transform: rotate(40deg) translateY(0) ;
  bottom: -10%;
  animation: a 1s 1;
  border-radius: 25px;
}

@keyframes a{
    from{transform: rotate(40deg) translateY(100%);}
    to{transform: rotate(40deg) translateY(0);}
}

.banner .title {
  font-size: 30px;
  text-align: right;
  margin-right: 5%;
  margin-top: 2%;
  color: #fff;
  margin-left:50%;
}

.banner .title h1 {
  font-size: 140px;
}

.banner .title h3 {
  font-size: 60px;
  margin-top: 1%;
  margin-bottom: 5%;
  color: #f2ab41;
}

.banner .title button {
  font-size: 20px;
  margin-top: 10%;
  padding: 15px 80px;
  background: #28bffe;
  border: none;
  border-radius: 5px;
  color: #fff;
}

/*-- SOCIAL MEDIA --*/

.social-media {
  justify-content: space-between;
  display: flex;
  position: absolute;
  right: 5%;
  width: 180px;
  margin-top: 30vh;
  margin-bottom: 30vh;
  height: 50px;
}

.social-media a {
  height: 50px;
  width: 50px;
  background: #2a338e;
  border-radius: 50%;
}

/*-- CONTACT --*/

/*--TEST--*/


