* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*-- SCROLLBAR --*/

::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--components-color);
  border-radius: 10px;
}


body {
  --background-color: #121212;
  --main-color: #192065;
  --main-lighter-color: #2a338e;
  --components-color: #f2ab41;
  height: 100%;
  background-color: var(--background-color) !important;
}

/*-- HEADER --*/

header {
  width: 100%;
  position: absolute;
  z-index: 10;
  color: #fff;
}

header .elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

/*-- LOGO --*/

header .elements .logo {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

header .elements .logo span {
  color: var(--components-color);
}

/*-- NAVIGATION --*/

.navigation {
  position: relative;
  display: flex;
}

.navigation a {
  position: relative;
  margin: 0 20px;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
}

.navigation a:hover {
  color: #fff;
  text-decoration: none;
}

nav:hover #mover {
  opacity: 1;
}

nav #mover {
  position: absolute;
  height: 4px;
  border-radius: 100px;
  left: 0;
  width: 0;
  bottom: -8px;
  background: var(--components-color);
  transition: 0.5s;
  border-radius: 4px;
  z-index: 2;
  opacity: 0;
}

/*-- MAIN --*/

.blue-home {
  height: calc(100px + 65vh);
  background: var(--main-color);
}

.blue-contact {
  position: absolute;
  background: var(--main-color);
  height: 100%;
  width: 50%;
  right: 0;
  z-index: 1;
}

/*-- BANNER --*/

.banner {
  position: absolute;
  left: 5%;
  top: 150px;
  width: 90%;
  height: 80vh;
  min-height: 650px;
  background: url('../image/head.png');
  border-radius: 20px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px #1212126e;
  transform-style: preserve-3d;
}

.banner #line {
  position: absolute;
  width: 25%;
  height: 150%;
  background-color: var(--components-color);
  transform: rotate(40deg) translateY(100%);
  bottom: -10%;
  animation: a 1s 1 forwards;
  animation-delay: 0.6s;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px #1212126e;
  z-index: 6;
}

.banner #linev {
  position: absolute;
  width: 150%;
  height: 30%;
  background-color: var(--components-color);
  transform: rotate(-5deg) translateX(0);
  right: -10%;
  bottom: -10%;
  animation: b 1s 1;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px #1212126e;
  z-index: 5;
}

.banner #linez {
  position: absolute;
  width: 150%;
  height: 30%;
  background-color: var(--components-color);
  transform: rotate(10deg) translateX(-100%);
  left: -10%;
  bottom: -30%;
  animation: c 1s 1 forwards;
  animation-delay: .7s;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px #1212126e;
  z-index: 11;
}

.banner #lined {
  position: absolute;
  width: 25%;
  height: 120%;
  background-color: var(--components-color);
  transform: rotate(-10deg) translateY(100%);
  right: 5%;
  bottom: -10%;
  animation: d 1s 1 forwards;
  animation-delay: .7s;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px #1212126e;
  z-index: 4;
}

@keyframes a {
  from {
    transform: rotate(40deg) translateY(100%);
  }
  to {
    transform: rotate(40deg) translateY(0);
  }
}

@keyframes b {
  from {
    transform: rotate(-5deg) translateX(100%);
  }
  to {
    transform: rotate(-5deg) translateX(0);
  }
}


@keyframes c {
  from {
    transform: rotate(10deg) translateX(-100%);
  }
  to {
    transform: rotate(10deg) translateX(0);
  }
}

@keyframes d {
  from {
    transform: rotate(-10deg) translateY(100%);
  }
  to {
    transform: rotate(-10deg) translateY(0);
  }
}

.banner .title {
  font-size: calc(20px + 1.5vw);
  text-align: right;
  margin-right: 5%;
  margin-top: 5%;
  color: #fff;
  margin-left: 50%;
}

.banner .title h1 {
  font-size: calc(40px + 3vw);
}

.banner .title h3 {
  font-size: calc(30px + 1vw);
  margin-top: 1%;
  margin-bottom: 5%;
  color: var(--components-color);
}

.banner .title button {
  font-size: 20px;
  padding: 15px 80px;
  background: #28bffe;
  border: none;
  border-radius: 5px;
  color: #fff;
}

/*-- SOCIAL MEDIA --*/

.social-media {
  justify-content: space-between;
  display: flex;
  position: absolute;
  right: 5%;
  bottom: 7%;
  transform: rotate(-5deg);
  width: 300px;
  height: 50px;
  z-index: 6;
  
}

.social-media a {
  position: relative;
  height: 80px;
  width: 80px;
  background: var(--main-lighter-color);
  border-radius: 50%;
}

.social-media a i {
  position: absolute;
  color: #f2ab41;
  font-size: 35px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*-- PORTFOLIO --*/

.section {
  margin-top: 250px;
  margin-left: 10%;
  margin-right: 10%;
}

.section .about {
  color: var(--main-lighter-color);
  font-size: 20px;
  text-align: center;
  margin-bottom:-1%;
}

.section h2 {
  color: #fff;
  font-size: calc(40px + 2vw) !important;
  text-align: center;
} 

/*-- MOBILE --*/

@media (max-width: 960px) {
  header .navigation {
    display: none;
  }

  .banner .title {
    margin-top: 25%;
    margin-left: 30%;
  }

  .banner #line {
    left: -30%;
  }

  header .elements {
    justify-content: space-between;
    padding: 20px;
  }
}

/* -- CARDS -- */
.cards-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.cards-container{
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
}

.cards-container .card{
  position: relative;
  height: 320px;
  background: #fff;
  display: flex;
  width: 25%;
  margin: 30px 0;
  border: none;
  border-radius: 11px;
  min-width: 400px;
  margin-left: 40px;
  margin-right: 40px;
}

.cards-container .card .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border: none;
  border-radius: 8px;
}

.cards-container .card .imgBx i{
  color: #fff;
  font-size: 80px;
}

.cards-container .card:hover .imgBx{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: var(--components-color);
  transform:translateZ(80px);
}

.cards-container .card .imgBx:before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, .15);
  font-weight: 700;
}
.cards-container .card:hover .imgBx:before{
  opacity: 0;
}


.cards-container .card:hover .imgBx i{
  max-width: 75px;
}

.cards-container .card .card-content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container .card .card-content h3{
  margin-bottom: 5px;
  font-size: 24px;
  font-weight:bold;
}

.cards-container .card .card-content a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 25px;
  background: #2a338e;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}


@media(max-width: 992px){
  .cards-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .cards-container .card{
    width: 400px;
  }
}

@media(max-width: 768px){
  .cards-container .card{
    max-width: 300px;
    flex-direction: column;
    height: auto;
    min-width: 0;
  }
  .cards-container .card .imgBx{
    position: relative;
    border-radius: 8px 8px 0 0;
  }
  .cards-container .card .imgBx,
  .cards-container .card:hover .imgBx{
    width: 100%;
    height: 200px;
    left: 0;
  }
  .cards-container .card .imgBx i,
  .cards-container .card:hover .imgBx i{
    max-width: 100px;
  }
  .cards-container .card .card-content{
    position: relative;
    width: 100%;
  }

  .cards-container .card .imgBx:before{
    display: none;
  }
}

/*-- TEST --*/

.test {
  height:500px;
  background:var(--main-color);
  margin:5% 0;
}

/*-- CONTACT --*/

.contact-page-sec {
  position: absolute;
  top:5%;
  width:100%;
  z-index: 3;
}
.contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.contact-info-icon {
  margin-bottom: 15px;
}
.contact-info-item {
  background: var(--components-color);
  padding: 30px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #1212126e;
  transform-style: preserve-3d;
}
.contact-page-sec .contact-page-form{
  margin-left: 10px;
}
.contact-page-sec .contact-page-form h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
  padding-left: 0;
}
.contact-page-form.contact-form input {
  margin-bottom: 5px;
}
.contact-info-icon i {
  font-size: 48px;
  color: #fff;
  transform:translateZ(40px);
}

.contact-info-text h2 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
  transform:translateZ(40px);
}
.contact-info-text span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  transform:translateZ(40px);
}

.contact-page-form input {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  outline: none; 
}

.contact-page-form .message-input {
  display: inline-block;
  width: 100%;
  padding-left: 0;
}

.button-input button{
  width: 300px;
  height: 300px;
  margin-top: 80px;
  font-weight: bold;
  border-radius: 500px;
  background: var(--components-color);
  color:#fff;
  font-size: 25px;
  margin-left: 10%;
  border:none;
  box-shadow: 0px 0px 20px 5px #1212126e;
  transition: .3s;
}

.button-input button:hover{
  background: #fcbd5f;
}

.button-input button:active , .button-input button:focus{
  background:var(--components-color);
  outline: none;
}

.single-input-field textarea {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  width: 100%;
  height: 150px;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
}
.contact-page-form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.contact-page-form form {
  padding: 20px 15px 0;
} 